<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our clients</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clients">
            <div class="col-md-4 text-center box">
                <img src="img/clients/nest.png" class="bigger">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/east-thames.png">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/bnp.jpg" class="bigger">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/qgc.png" class="bigger">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/exxon.png">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/aviva.png">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/ericsson.png" class="bigger">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/att.png" class="bigger"> 
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/lucent.png" class="bigger">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/pioneer.png">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/metropolitan.jpg" class="bigger">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/halliburton.png" class="smaller">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/aig.png">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/aig-lincoln.jpg" class="bigger">
            </div>
            <div class="col-md-4 text-center box">
                <img src="img/clients/ikea.png">
            </div>
        </div>
    </div>
</section>