<section id="contact" class="bg-primary footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 pull-right touch text-left text-muted address">  
                <div class="spacer"></div> DB Europe Ltd
                <br><i class="fa fa-mobile fa-lg text-muted text-center"></i> +44 7931 371 858
                <br><i class="fa fa-at fa-lg text-muted text-center"></i> <a href="mailto:info@dbeurope.eu">info@dbeurope.eu</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 touch text-center text-muted">    
                <i class="fa fa-copyright"></i> 2016 by DB Europe Ltd
            </div>
        </div>
    </div>
</section>
