<section id="contact" class="bg-primary footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10 touch text-left text-muted address">
                DB Europe Ltd.
                <br><i class="fa fa-envelope-o fa-lg text-muted text-center"></i> Klimczaka 12b/28,
                <br><div class="spacer"></div> 02-797 Warsaw,
                <br><div class="spacer"></div> Poland
                <br><i class="fa fa-mobile fa-lg text-muted text-center"></i> +44 7931 371 858
                <br><div class="spacer"></div> +48 693 831 693
                <br><i class="fa fa-at fa-lg text-muted text-center"></i> <a href="mailto:info@dbeurope.eu">info@dbeurope.eu</a>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center text-muted">
                <i class="fa fa-copyright"></i> 2016 by DB Europe Ltd.
            </div>
            </div>
        </div>
    </div>
</section>
