<section id="home" class="bg-primary first">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">DB Europe Limited</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p>Specialists in facilities management, project management, operations management and business transformation for major 'Blue Chip' clients covering Energy (oil & gas), Banking & Insurance, Property and Telecommunications.</p>
            </div>
        </div>
    </div>
</section>