<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Scope of Services</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box  facilities">
                    <img src="img/db/facilities.png" class="service-icon"></i>
                    <h3>Facilities Management</h3>
                    <ul class="text-muted text-left">
                        <li>Operations & Maintenance </li>
                        <li>Site Management & Admin</li>
                        <li>Building integrity and legislative compliance</li>
                        <li>Condition Surveys</li>
                        <li>Space planning</li>
                        <li>Design and Fit-out Management</li>
                        <li>Transition Management</li>
                        <li>Financial Management</li>
                        <li>Service Provider(s) selection and management (Food Services, Cleaning & Janitorial, Security etc.)</li>
                        <li>Utilities management</li>
                        <li>Business Services</li>
                        <li>Property Management</li>
                        <li>Training and Succession Planning</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box project-mamagement">
                    <img src="img/db/project-management.png" class="service-icon"></i>
                    <h3>Project Management</h3>
                    <ul class="text-muted text-left">
                        <li>Project Planning and Execution Management</li>
                        <li>Stakeholder engagement</li>
                        <li>Design and Engineering Management</li>
                        <li>HSE & CDM Management</li>
                        <li>Detailed Scopes of Work</li>
                        <li>Financial Management</li>
                        <li>Project Reporting</li>
                        <li>Procurement of project services</li>
                        <li>Contractor Management</li>
                        <li>Systems Completion, Testing & Commissioning</li>
                        <li>Closeout Protocols and Procedures</li>
                        <li>Project Handover</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-lg-4 col-md-6 col-lg-offset-0 col-md-offset-3 col-sm-offset-0 text-center">
                <div class="service-box health-and-safety">
                    <img src="img/db/health-and-safety.png" class="service-icon"></i>
                    <h3>Health & Safety</h3>
                    <ul class="text-muted text-left">
                        <li>Regulatory Framework</li>
                        <li>Application of Client or DB Europe safety policies/ operating procedures</li>
                        <li>Strict adherence to local and international Safety Standards</li>
                        <li>Health & Safety Training</li>
                        <li>Health & Safety Auditing of Contractors and Service Providers</li>
                        <li>Risk Management</li>
                        <li>Incident Management and Reporting</li>
                        <li>Business Continuity Planning</li>
                    </ul>
                </div>
            </div>
        </div>  
        <div class="row">  
            <div class="col-lg-4 col-md-6 col-lg-offset-2 col-md-offset-0 text-center">
                <div class="service-box transition-management">
                    <img src="img/db/transition-management.png" class="service-icon"></i>
                    <h3>Transformation Management</h3>
                    <ul class="text-muted text-left">
                        <li>Business Transformation</li>
                        <li>Business Integration</li>
                        <li>Performance Measurement & Analysis</li>
                        <li>Service Delivery Improvement</li>
                        <li>Value Engineering and management of fragmented operational models</li>
                        <li>Financial Planning</li>
                        <li>Vendor Procurement</li>
                        <li>Policy Setting</li>
                        <li>Cultivation of profitable internal and external business alliances</li>
                        <li>Stakeholder engagement</li> 
                        <li>Team Building</li>
                        <li>Communication Strategies</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box contracts-management">
                    <img src="img/db/contracts-management.png" class="service-icon"></i>
                    <h3>Contracts Management</h3>
                    <ul class="text-muted text-left">
                        <li>Procurement and Contracting strategies</li>
                        <li>Scopes of Works and tender processes</li>
                        <li>Business processes and controls</li>
                        <li>Service deliverables; SLA / KPI </li>
                        <li>Change Order processes</li>
                        <li>Commercial negotiations</li>
                        <li>Financial Management</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
