<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box  facilities">
                    <img src="img/db/facilities.png" class="service-icon"></i>
                    <h3>Facilities Management</h3>
                    <ul class="text-muted text-left">
                        <li>Operations & Maintenance </li>
                        <li>Site Management & Admin</li>
                        <li>HSE management</li>
                        <li>Building integrity and legislative compliance</li>
                        <li>Design and Fit-out Management</li>
                        <li>Condition Surveys</li>
                        <li>Financial Management</li>
                        <li>Security Services</li>
                        <li>Food Services</li>
                        <li>Cleaning & Janitorial</li>
                        <li>Utilities management</li>
                        <li>Business Services</li>
                        <li>Property Management</li>
                        <li>Human Resources management</li>
                        <li>Training and Succession Planning</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box project-mamagement">
                    <img src="img/db/project-management.png" class="service-icon"></i>
                    <h3>Project Management</h3>
                    <ul class="text-muted text-left">
                        <li>Project Planning and Execution Management</li>
                        <li>Stakeholder engagement</li>
                        <li>Design and Engineering Management</li>
                        <li>HSE management</li>
                        <li>Detailed Scopes of Work</li>
                        <li>Financial Management</li>
                        <li>Project Reporting</li>
                        <li>Procurement of project services</li>
                        <li>Contractor Management</li>
                        <li>Systems Completion, Testing & Commissioning</li>
                        <li>Closeout Protocols and Procedures</li>
                        <li>Project Handover</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box health-and-safety">
                    <img src="img/db/health-and-safety.png" class="service-icon"></i>
                    <h3>Health & Safety</h3>
                    <ul class="text-muted text-left">
                        <li>Application of Client or DB Europe safety policies/operating procedures</li>
                        <li>Strict adherence to local and international Safety Standards</li>
                        <li>Health & Safety Training</li>
                        <li>Health & Safety Auditing of Contractors and Service Providers</li>
                        <li>Risk Management</li>
                        <li>Incident Management and Reporting</li>
                        <li>Environmental Emergency Response</li>
                        <li>Environmental Surveys</li>
                        <li>Business Continuity Planning</li>
                        <li>Regulatory Framework</li>
                    </ul>
                </div>
            </div>
        </div>  
        <div class="row">  
            <div class="col-lg-4 col-md-6 col-lg-offset-2 text-center">
                <div class="service-box transition-management">
                    <img src="img/db/transition-management.png" class="service-icon"></i>
                    <h3>Transition Management</h3>
                    <ul class="text-muted text-left">
                        <li>Space planning</li>
                        <li>Stakeholder engagement</li> 
                        <li>Change Management and Communication strategies</li>
                        <li>Move management</li>
                        <li>Management of international and domestic relocation services (personnel)</li>
                        <li>Contractors selection and management</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box contracts-management">
                    <img src="img/db/contracts-management.png" class="service-icon"></i>
                    <h3>Contracts Management</h3>
                    <ul class="text-muted text-left">
                        <li>Procurement and Contracting strategies</li>
                        <li>Scopes of Works and tender processes</li>
                        <li>Business processes and controls</li>
                        <li>Service deliverables; SLA / KPI </li>
                        <li>Change Order processes</li>
                        <li>Commercial negotiations</li>
                        <li>Financial Management</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
