<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="service-box">
                    <h3>Bill Flint</h3>
                    <h4>Managing Partner</h4>
                    <p class="text-muted text-justify">Operations, Projects and Business Management expert specialising in large scale operations in challenging environments worldwide. Managed major projects in Europe, Middle East, Africa and Far East. Provided specialist Interim Management support to companies undergoing  transformation.</p>
                </div>
                <br>
                <a href="http://www.linkedin.com/in/bill-flint-9001785"><i class="fa fa-4x fa-linkedin-square text-primary"></i></a>
            </div>
            <div class="col-lg-6 text-center">
                <div class="service-box">
                    <h3>Dorota Flint</h3>
                    <h4>Managing Partner</h4>
                    <p class="text-muted text-justify">Widely experienced in all aspects of facility, property and asset portfolio management, ranging from A-class large multi-tenanted offices and business parks in developed countries to regional corporate headquarters, exclusive residential compounds, leisure and hospitality facilities in challenging locations worldwide (Africa, Far East, Asia Pacific). Specialising in start-up to project handover, transition and change management. Contracts Management and Business Processes and Controls.</p>
                </div>
                <br>
                <a href="http://www.linkedin.com/in/dorota-dee-flint-b5762213"><i class="fa fa-4x fa-linkedin-square text-primary"></i></a>
            </div>
        </div>
    </div>
</section>