<section id="values">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Added Value</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe text-primary"></i>
                    <h3></h3>
                    <p class="text-muted">The Managing Partners of DB Europe combine local knowledge coupled with extensive experience worldwide, often in challenging locations. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-search-plus text-primary" data-wow-delay=".1s"></i>
                    <h3></h3>
                    <p class="text-muted">Transparency in Corporate Governance, Business Processes & Controls and excellence in the provision of support services across all fields of operations.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-table text-primary" data-wow-delay=".2s"></i>
                    <h3></h3>
                    <p class="text-muted">We are process oriented, structured and pragmatic.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heartbeat text-primary" data-wow-delay=".3s"></i>
                    <h3></h3>
                    <p class="text-muted">DB Europe has an uncompromised approach to Health & Safety.</p>
                </div>
            </div>
        </div>
    </div>
</section>